html,
body,
h3,
p,
h4 {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 5px;
}

.p-0 {
  padding: 0;
}

.m-lr-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}

.col-25 {
  width: 25%;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}